{{#if inMainApp}}
  {{#burger-menu as |burger|}}
    {{#burger.menu gesturesEnabled=false itemTagName="div" as |menu|}}
      <div class="bm-menu-header">
        {{!-- <button class="fa fa-times close-bm" {{action burger.state.actions.close}}></button> --}}

        <div class="top-half">
          {{#menu.item class="avatar-container1" dismissOnClick=true}}
            {{#link-to 'users' currentUser.id}}
              <img class="bm-avatar" src={{currentUser.avatar}} alt="avatar">
            {{/link-to}}
          {{/menu.item}}
          <span class="username"> {{currentUser.fullName}} </span>
        </div>

        <div class="bottom-half">
          <div>
            <span class="my-dogs">My Dogs</span>
          </div>
          <div class="dogs">
            {{#each currentUser.dog as |dog|}}
              <div class="dog">
                {{#menu.item dismissOnClick=true}}
                  {{#link-to "dogs" dog._id}}
                    <img class="dog-avatar" src={{dog.avatar}} alt="dog-avatar">
                  {{/link-to}}
                {{/menu.item}}
                <span class="dog-name">{{dog.firstName}} {{dog.lastName}}</span>
              </div>
            {{/each}}
            <div class="dog">
              {{#menu.item class="dog-avatar add-dog" dismissOnClick=true}}
                {{link-to "" "settings" class="fa fa-plus"}}
              {{/menu.item}}
              <span class="dog-name"> add dog </span>
            </div>
          </div>
        </div>
      </div>

      <div class="bm-menu-item-container">
        {{#menu.item class="bm-main-menu-item" dismissOnClick=true}}
          {{link-to "profile" "users" currentUser.id}}
        {{/menu.item}}

        {{#menu.item class="bm-main-menu-item" dismissOnClick=true}}
          {{link-to "friends" "friends"}}
        {{/menu.item}}

        {{#menu.item class="bm-main-menu-item" dismissOnClick=true}}
          {{link-to "messaging" "messages"}}
        {{/menu.item}}

        {{#menu.item class="bm-main-menu-item" dismissOnClick=true}}
          {{link-to "stream" "index"}}
        {{/menu.item}}

        {{#menu.item class="bm-main-menu-item" dismissOnClick=true}}
          {{link-to "settings" "settings"}}
        {{/menu.item}}
      </div>
    {{/burger.menu}}

    {{#burger.outlet}}
      <div class="header-bar">
        <div class="header-edge">
          <button class="menu-toggle" {{action burger.state.actions.toggle}}>
            <img src="assets/svg/burger.svg" alt="open-menu">
          </button>
        </div>
        <img class="supdog-logo" src="assets/svg/logo.svg" alt="logo">
        <div class="header-edge">
          {{#link-to "messages" class="messages"}}
            <img src="assets/svg/mail.svg" alt="mail-icon">
          {{/link-to}}
        </div>
      </div>
      <div class="main-content">
        {{outlet}}
      </div>
      <div class="footer">
        {{#link-to 'match'}}
          <img class="paw-icon" src="assets/svg/paw.svg" alt="paw-icon">
        {{/link-to}}
      </div>
    {{/burger.outlet}}
  {{/burger-menu}}

{{else}}
  {{outlet}}
{{/if}}
