<div class="profile-header">
  <img class="avatar" src={{model.avatar}} alt="dog-avatar">
  <span class="name">{{model.firstName}} {{model.lastName}}</span>
  <span class="bio">
    {{model.bio}}
  </span>
</div>
<div class="profile-footer">
  <div class="info-row">
    <div class="info-block">
      <span class="block-header"> Breed </span>
      <span class="block-body"> <strong>{{model.breed}}</strong> </span>
    </div>
    <div class="info-block">
      <span class="block-header"> Sex </span>
      <span class="block-body"> {{model.gender}}/ {{model.fixed}} </span>
    </div>
    <div class="info-block">
      <span class="block-header"> Age </span>
      <span class="block-body"> {{model.age}} years </span>
    </div>
    <div class="info-block">
      <span class="block-header"> Size </span>
      <span class="block-body"> {{model.size}} </span>
    </div>
  </div>
  <div class="info-row">
    <div class="info-block">
      <span class="block-header">Energy</span>
      {{progress-bar value=(convert-to-value model.energy)}}
    </div>

    <div class="info-block">
      <span class="block-header">Playful</span>
      {{progress-bar value=(convert-to-value model.playfulness)}}
    </div>
  </div>
  <div class="vet-container">
    <i class="fa fa-plus vet-icon"></i>
    <span class="vet-certification">Vet Certified</span>
  </div>
</div>

{{!-- <div class="social-icons">
    <i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i>
    <i class="fa fa-twitter-square fa-4x"  aria-hidden="true"></i>
    <i class="fa fa-snapchat-square fa-4x" aria-hidden="true"></i>
    <i class="fa fa-tumblr-square fa-4x" aria-hidden="true"></i>
</div> --}}
