{{#if (and choosingFeeling (not loading))}}
  <div class="choose-feeling-container">
    <span class="paw"></span>
    <span class="feeling-header"> i'm feeling.. </span>
    <button class="feeling-entry" {{action "findMatches" "hungry"}}> hungry </button>
    <button class="feeling-entry" {{action "findMatches" "lazy"}}> lazy </button>
    <button class="feeling-entry" {{action "findMatches" "adventurous"}}> adventurous </button>
    <button class="feeling-entry" {{action "findMatches" "playful"}}> playful </button>
    <button class="feeling-entry" {{action "findMatches" "active"}}> active </button>
  </div>
{{else if loading}}
  <div class="loading-container">
    <div class="loading">
      <span> Searching for New Matches...! </span>
    </div>
  </div>
{{else if (not matchMade)}}
  <div class="matching-pane">
    <button class="fa fa-chevron-left" {{action "declineMatch"}}></button>
    {{#if (not (eq dogs.length 0))}}
      {{#if currentDog}}
        <div class="profile-header">
          <div class="match-option-container">
            <img class="avatar" src={{currentDog.avatar}} alt="dog-avatar">
            <div class="name-container">
              <span class="name">{{currentDog.firstName}} {{currentDog.lastName}}, {{calculate-age currentDog.birthday}}</span>
            </div>
            <div class="bio-container">
              <span class="bio"> {{currentDog.bio}} </span>
            </div>
          </div>

          {{#if showProfile}}
            <div class="profile-footer profile-info">
              <div class="info-row">
                <div class="info-block">
                  <span class="block-header"> Breed </span>
                  <span class="block-body">
                    <strong>{{currentDog.breed}}</strong>
                  </span>
                </div>
                <div class="info-block">
                  <span class="block-header"> Sex </span>
                  <span class="block-body"> {{currentDog.gender}}/ {{currentDog.fixed}} </span>
                </div>
                <div class="info-block">
                  <span class="block-header"> Size </span>
                  <span class="block-body"> {{currentDog.size}} </span>
                </div>
              </div>
              <div class="info-row">
                <div class="info-block">
                  <span class="block-header">Energy</span>
                  {{progress-bar value=(convert-to-value currentDog.energy)}}
                </div>

                <div class="info-block">
                  <span class="block-header">Playful</span>
                  {{progress-bar value=(convert-to-value currentDog.playfulness)}}
                </div>
              </div>
              <div class="vet-container">
                <i class="fa fa-plus vet-icon"></i>
                <span class="vet-certification">Vet Certified</span>
              </div>
              <div class="owner-profile-preview">
                <img src={{currentDog.owner.avatar}} alt="user-avatar">
                <div class="owner-name-container">
                  {{currentDog.owner.firstName}} {{currentDog.owner.lastName}}
                </div>
              </div>
            </div>
          {{/if}}

          <div class="toggle-profile-container {{if showProfile 'profile-open'}}">
            <button class="fa {{if showProfile 'fa-chevron-up' 'fa-chevron-down'}}" {{action "toggleProfile"}}></button>
          </div>
        </div>
      {{else}}
        <div class="loading-container">
          <div class="loading">
            <span> That's All The Matches... </span>
          </div>
        </div>
      {{/if}}

    {{else}}
      <div class="loading-container">
        <div class="loading">
          <span> No Matches Were Found... : / </span>
        </div>
      </div>
    {{/if}}

    <button class="fa fa-chevron-right" {{action "acceptMatch"}}></button>
  </div>

{{else}}
  <div class="loading-container">
    <div class="loading">
      <span> It's A Match! </span>
    </div>
  </div>
{{/if}}
