{{!-- <div align ="center">
<form style="color:rgb(63, 228, 220);" action="upload.php" method="post" enctype="multipart/form-data">
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="add photo" name="submit">
</form>
</div> --}}
<div class=profile  align ="center" >


<form {{action "UpdateProfile" on="submit"}}>
  <h1 style="color:rgb(63, 228, 220);" align ="center">your profile</h1>

  <img src="https://www.nationalgeographic.com/content/dam/animals/thumbs/rights-exempt/mammals/d/domestic-dog_thumb.jpg" width="40" height="40">
  <br>

  {{mdl-textfield type="text"
                  value=firstName
                  placeholder="First Name"
                  required=false
                  autocapitalize="none"
                  }}
    <br>

    {{mdl-textfield type="date"
                    value=bday
                    placeholder="Birthday"
                    required=true
                    autocapitalize="none"
                    label="Birth day"
                    }}
    <br>

    {{mdl-textfield type="text"
                    value=zipcode
                    placeholder="Zip Code"
                    required=true
                    autocapitalize="none"
                    pattern="[0-9]{5}"}}

    <br>
    <img  src="https://www.nationalgeographic.com/content/dam/animals/thumbs/rights-exempt/mammals/d/domestic-dog_thumb.jpg" width="40" height="40">
    <br>
    <h1 style="color:rgb(63, 228, 220);" align ="center">pet profile</h1>

   {{mdl-textfield type="text"
                    value=Name
                    placeholder="Name"
                    required=false
                    autocapitalize="none"
                    }}

    {{mdl-textfield type="text"
                    value=breed
                    placeholder="breed"
                    required=true
                    autocapitalize="none"
                    }}

    {{mdl-textfield type="number"
                    value=age
                    placeholder="age"
                    required=true
                    autocapitalize="none"
                    pattern="[0-9]{2}"}}

    {{mdl-textfield type="text"
                    value=age
                    placeholder="gender"
                    required=true
                    autocapitalize="none"
                    }}

    {{mdl-textfield type="text"
                    value=fixed
                    placeholder="fixed?"
                    required=true
                    autocapitalize="none"
                    }}

    {{mdl-textfield type="text"
                    value=color
                    placeholder="color"
                    required=true
                    autocapitalize="none"
                    }}

    {{mdl-textfield type="number"
                    value=weight
                    placeholder="weight"
                    required=true
                    autocapitalize="none"
                    }}

    {{mdl-textfield type="text"
                    value=vetCertified
                    placeholder="vet certified?"
                    required=true
                    autocapitalize="none"
                    }}


    <br>

    {{#mdl-button type="submit"
                  disabled=isSigningIn}}
      Submit
    {{/mdl-button}}
    <br>
    <br>
  </form>
</div>
