<div class="settings-container">
  <h4> Edit Your Settings </h4>
  
  {{!-- <div class="settings-row">
    <span>Location</span>
    {{input placeholder="Indianapolis, IN"}}
  </div> --}}
    
  <div class="settings-row">
    <div class="slider-row">
      <span>Max Distance</span>
      {{range-slider step=10 start=startDistance range=distanceRange on-change=(action "settingChanged" "maxDistance")}}
    </div>
  </div>

  <span class="divider"></span>

  <div class="settings-row">
    <div class="slider-row">
      <span>Age Range</span>
      {{range-slider step=1 start=ageStart range=ageRange on-change=(action "settingChanged" "ageRange")}}
    </div>
  </div>

  <span class="divider"></span>

  <div class="settings-row">
    <div class="first-row">
      <div class="column">
        <span>Gender</span>
        <div class="item">
          <input id="gender1" type="radio" name="gender-btn" onclick={{action (action "settingChanged" "gender") value="target.value"}}>
          <label for="genderChoice1">Male</label>
        </div>
        <div class="item">
          <input id="gender2" type="radio" name="gender-btn" onclick={{action (action "settingChanged" "gender") value="target.value"}}>
          <label for="genderChoice1">Female</label>
        </div>
      </div>
      <div class="column">
        <span>Vet Verified</span>
        <div class="item">
          <input id="vet1" type="radio" name="vet-btn" onclick={{action (action "settingChanged" "vet") value="target.value"}}>
          <label for="vetChoice1">Yes</label>
        </div>
        <div class="item">
          <input id="vet2" type="radio" name="vet-btn" onclick={{action (action "settingChanged" "vet") value="target.value"}}>
          <label for="vetChoice2">No</label>
        </div>
      </div>
    </div>
  </div>

  <span class="divider"></span>

  <div class="settings-row">
    <div class="button-row">
      <div class="column">
        <span>Energy Level</span>
        <div class="item">
          <input id="energy1" type="radio" name="energy-btn" onclick={{action (action "settingChanged" "energyLevel") value="target.value"}}>
          <label for="energyChoice1">High</label>
        </div>
        <div class="item">
          <input id="energy2" type="radio" name="energy-btn" onclick={{action (action "settingChanged" "energyLevel") value="target.value"}}>
          <label for="energyChoice2">Mediumn</label>
        </div>
        <div class="item">
          <input id="energy3" type="radio" name="energy-btn" onclick={{action (action "settingChanged" "energyLevel") value="target.value"}}>
          <label for="energyChoice3">Low</label>
        </div>
      </div>
    </div>
  </div>

  <span class="divider"></span>

  {{!-- <h5>Profile Settings</h5>
  <div class="settings-row">
    <span>Username</span>
    {{input placeholder="dogglover222"}}
  </div>

  <div class="settings-row">
    <span>Password</span>
    {{input placeholder="************"}}
  </div> --}}

  {{!-- <h5>Notifications</h5>
  <div class="settings-row">
    <span>New Matches</span>
    {{x-toggle theme='light'}}
  </div>

  <div class="settings-row">
    <span>New Messages</span>
    {{x-toggle theme='light'}}
  </div> --}}
  <button id="Save"> Save </button>
  
  <span class="divider"></span>

  <button id="sign-out" {{action "signOut"}}>Sign Out</button>
</div>
